@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
}

html,
body {
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.header {
    position: absolute;
}

video {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(0, 255, 242), rgb(126, 21, 212));
}

ul {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 80%;
    color: rgb(0, 0, 0);
    list-style: none;
    display: inline-flex;
    cursor: pointer;
}

ul li {
    width: 10%;
    font-size: 20px;
    color: rgba(53, 53, 53, 0.801);
    text-decoration: none;
    text-align: right;
    margin-left: 20px;
}

ul h1 {
    width: 70%;
    font-family: 'Cinzel Decorative', cursive;
    animation: sengar 4s linear infinite;
}

@keyframes sengar {
    0% {
        color: rgba(0, 0, 0, 0.74);
    }
    25% {
        color: rgba(0, 0, 0, 0.452);
    }
    50% {
        color: rgba(0, 0, 0, 0.267);
    }
    75% {
        color: rgba(0, 0, 0, 0.452);
    }
    100% {
        color: rgba(0, 0, 0, 0.74);
    }
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.overlay h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.753);
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}

.overlay h3 {
    letter-spacing: 10px;
    color: rgb(66, 66, 66);
}

.side_bar {
    top: 0;
    right: 0;
    width: 50px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.212);
    position: absolute;
    box-shadow: 2px 5px 15px;
}

.social {
    position: relative;
    top: 30%;
}

.side_bar img {
    line-height: 20vh;
    margin: 5px 10px;
    width: 60%;
    cursor: pointer;
}

.topsocial {
    display: none;
}

.topsocial img {
    width: 60%;
}

.drop {
    position: absolute;
    top: -15%;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.drop img {
    width: 50px;
    animation: drop 5s linear infinite;
}

.drop img:nth-child(1) {
    width: 35px;
    animation: drop 9s linear infinite;
}

.drop img:nth-child(2) {
    animation: drop 12s linear infinite;
}

.drop img:nth-child(3) {
    width: 20px;
    animation: drop 19s linear infinite;
}

.drop img:nth-child(4) {
    width: 40px;
    animation: drop 15s linear infinite;
}

.drop img:nth-child(5) {
    width: 50px;
    animation: drop 10s linear infinite;
}

.drop img:nth-child(6) {
    width: 20px;
    animation: drop 8s linear infinite;
}

.drop img:nth-child(7) {
    width: 45px;
    animation: drop 12s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(80vh);
        opacity: 0;
    }
}

.design {
    position: absolute;
    bottom: 0%;
    left: 15%;
    right: 15%;
    width: auto;
    height: 8vh;
    box-shadow: 2px 10px 25px;
    display: flex;
}

.design .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.design .icon img {
    width: 3.5%;
    margin: 0 10px;
    color: red;
    cursor: pointer;
}

.note {
    display: none;
}


/* ####         /////               840 px media quiry starts          //////           ###*/

@media screen and (max-width:840px) {
    ul li {
        margin: 10px 20px;
    }
    ul h1 {
        margin-top: 11px;
        font-size: 25px;
    }
}

@media screen and (max-width:600px) {
    ul li {
        position: absolute;
        margin: 10px 10px;
        font-size: 15px;
        display: none;
    }
    ul h1 {
        font-size: 20px;
    }
    .design .icon img {
        width: 5.5%;
        margin: 0 10px;
        color: red;
        cursor: pointer;
    }
    .topsocial {
        display: block;
        position: absolute;
        top: 3%;
    }
    .overlay h1 {
        font-size: 40px;
    }
    .overlay h3 {
        letter-spacing: 8px;
        font-weight: 200;
    }
}

@media screen and (max-width:460px) {
    .overlay h1 {
        font-size: 30px;
    }
    .overlay h3 {
        font-size: 10px;
        letter-spacing: 8px;
        font-weight: 200;
    }
    .design {
        height: 5vh;
        left: 10%;
        right: 20%;
    }
    .drop img:nth-child(2) {
        display: none;
    }
    .drop img:nth-child(5) {
        display: none;
    }
    .drop img:nth-child(8) {
        display: none;
    }
    .drop img:nth-child(7) {
        visibility: hidden;
    }
}

@media screen and (max-width:380px) {
    .overlay h1 {
        font-size: 20px;
    }
    .overlay h3 {
        letter-spacing: 5px;
    }
    ul h1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .side_bar {
        width: 15%;
    }
}

@media screen and (max-width:380px) {
    .overlay {
        left: 45%;
    }
}

@media screen and (max-width:270px) {
    .header {
        display: none;
    }
    .note {
        display: block;
        width: 100vw;
        height: 100vh;
        line-height: 5vh;
        text-align: center;
        background: linear-gradient(to bottom, rgb(0, 255, 242), rgb(126, 21, 212));
    }
    .note p {
        position: absolute;
        top: 35%;
        left: 0%;
        transform: translateY(-50%, -50%);
    }
}